/* fonts */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* fonts end */

/* header */
header nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.logo{
    font-size: 34px;
    font-weight:900;
    color:#4E47FF ;
}
.btn-one-primary{
    width: auto;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 51.5px;
    margin-bottom: 51.5px;
    border-radius: 16px;
    border: none;
    padding: 12px 36px;
}
.btn-primary{
    width: auto;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 51.5px;
    border-radius: 16px;
    border: none;
    padding: 12px 36px;
}
body{
    max-width: 1440px;
    margin: auto;
    
}
.align{
    margin-left: 633px;
    margin-right: 633px;
    margin-bottom: 162px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    width: 905px;
    margin-left: 267.5px;
    gap: 37px;
    padding: 0;
    margin-bottom: 37px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}
header{
    height:698px ;
}
/* header done */
/* action styles */

main{
    margin-left: 150px;
    margin-right: 150px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
}
img{
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}
.action-description{
    font-size: 24px;
    font-weight: normal;
    width: 517px;
    line-height: 30px;
    margin-bottom: 23px;
}
/* action done */
/* user section */
.pro-users{
    /* background-color: #4E47FF; */
    background-color: rgba(78, 71, 255, 0.1);
    margin: auto;
    margin-top: 116px ;
    /* height: 306px; */
     border-radius: 24px;
    border-color: rgb(0, 0, 0, 1);
    border: 10px;
}
.user-title{
    text-align: center;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: bold;
}
.users{
    padding: 50px 120px;
}
.users-info{
    text-align: center;
   display: flex;
   justify-content: space-around;
   padding: 0;
   margin: 40px;
}
.user-amount{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.user-description{
    font-size: 20px;
    opacity: 0.5;
    margin-top: 0;
    margin-bottom: 0;
}
/* pro-user section done*/
/* let's get in touch */
.lets-get{
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
    align-items: center;
}
.lets-get-title{
    font-size: 97px;
    font-weight: bold;
}
.lets-column{
    width: auto;
}

input{
    width: 497px;
    height: 70px;
    padding: 0px 32px;
    font-size: 20px;
    font-weight: normal;
    color: black;
    opacity: 0.5;
    border-radius: 10px;
}

.textarea{
    width: 497px;
    height: 135px;
    padding: 20px 32px;
    font-size: 20px;
    font-weight:600;
    color: black;
    opacity: 0.5;
    border-radius: 10px;
}
.btn-secondary{
    width: 560px;
    height: 62px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 19px;
    border-radius: 10px;
    border: none;
    padding: 19px 201px;
}
.left-column{
    padding-top: 71px;
    padding-bottom: 71px;
}
/* footer */


footer{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
}
.footer-title{
    font-size: 100px;
    font-weight:900;
    color: #4E47FF;
    padding-top:104px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer-description{
    margin: 20px auto;
    width: 531px;
    color: #8987A1;
}
.footer-items{
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

}
nav ul li{
    margin: 0 24px;
   list-style: none;
}
li a{
    text-decoration: none;
    color: #8987A1;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
footer nav{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 104px;
}